@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-bg: #000;
  --gradient-1: rgba(0, 0, 0, 0);
  --gradient-2: rgba(0, 0, 0, 0.74);
  --gradient-3-start: #acc2ef;
  --gradient-3-end: #71c4ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: #121212;
}

.bg {
  background: radial-gradient(
      84% 84% at -20% -20%,
      var(--main-bg) 0%,
      var(--gradient-1) 100%
    ),
    radial-gradient(
      40% 82% at 50% 50%,
      var(--gradient-2) 0%,
      var(--gradient-2) 100%
    ),
    radial-gradient(
      82% 60% at 34% 10%,
      var(--main-bg) 0%,
      var(--gradient-3-start) 46%,
      var(--gradient-3-end) 72%,
      var(--main-bg) 90%
    );
}

.meteorites span {
  opacity: 0;
  position: absolute;
  top: 80px;
  left: 35%;
  width: 4px;
  height: 4px;
  background-color: #4f46e5;
  border-radius: 50%;
  animation: animate 12.05s linear infinite;
}

.meteorites span::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 260px;
  height: 2px;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #4f46e5, #a5a2e152);
}

.meteorites span:nth-child(1) {
  opacity: 0%;
  top: 0;
  right: 150px;
  left: initial;
  animation-duration: 13.3s;
}

.meteorites span:nth-child(2) {
  opacity: 0%;
  top: 20px;
  right: 30%;
  left: initial;
  animation-duration: 10.75s;
}

.meteorites span:nth-child(3) {
  opacity: 0%;
  top: 0;
  left: 20%;
  animation-duration: 9.25s;
}

.meteorites span:nth-child(4) {
  opacity: 0%;
  top: 50%;
  right: 50%;
  left: initial;
  animation-duration: 11.15s;
}

.meteorites span:nth-child(5) {
  opacity: 0%;
  top: 200px;
  right: 30px;
  left: initial;
  animation-duration: 13.85s;
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  12% {
    transform: rotate(315deg) translateX(-500px);
    opacity: 0;
  }

  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}


.scroll-down {
  animation: updown 2.5s infinite;
}

@keyframes updown {
  
  0%, 100%{
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out 1.8s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.line-animation {
  animation: line-fade 1s ease-in-out 2.2s forwards;
}

@keyframes line-fade {
  0% {
    width: 0px;
    opacity: 1;
  }

  100% {
    width: 120px;
    opacity: 1;
  }

}

@media (max-width: 768px) {
  @keyframes line-fade {
    0% {
      width: 0px;
      opacity: 1;
    }
  
    100% {
      width: 80px;
      opacity: 1;
    }
  
  }
}

.scroller {
  -webkit-mask: linear-gradient(to right,transparent 0,black 128px,black calc(100% - 128px),transparent 100%);
  mask: linear-gradient(to right,transparent 0,black 128px,black calc(100% - 128px),transparent 100%);
}

.scroller-inner {
  animation: infinite-scroll 25s linear infinite;
}

@keyframes infinite-scroll {
  to {
    transform: translate(calc(-50% - 2rem));
  }
}

.title {
  color: #121212;
  -webkit-text-stroke: 0.1vw #393939;
}

.title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #121212;
  -webkit-text-stroke: 0vw #393939;
  overflow: hidden;
  animation: fill-title 1.4s ease-in-out forwards 700ms;
}

@keyframes fill-title {
  0% {
    color: #121212;
  }
  
  100% {
    color: #fff;
  }
}

.fade-title {
  opacity: 0;
  animation: fade-title 450ms ease-in forwards;
}

@keyframes fade-title {
  to {
    opacity: 100%;
  }
}

.shadow {
  box-shadow: 0 0 20px #fff
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #121212;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}